

body {
    font-family: 'Rubik', sans-serif !important;


}
div > h2 {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

p {
    text-indent: 30px;
}

.bottom {
    margin-bottom: 50px
}

/* NAVIGATION BAR */
.navbar {
    font-family: 'Roboto Mono', monospace !important;
    margin-bottom: 0;
    background-color: #1c5e80;
    border: 0;
    border-radius: 0 !important:;
    font-size: 1em !important;
    letter-spacing: 4px;
    box-shadow: 2 2 !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: 1.2em !important;
}
.nav-tabs li a {
    color: #777;
    font-size: 1.2em;
}
.navbar-nav li a:hover {
    color: #fff !important;
        background-color: #8bc1d0 !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #8bc1d0 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    font-size: 1.2em !important;
}
.icon-bar {
  color: #fff !important;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #8bc1d0 !important;
    font-size: 1em;
    line-height: 1em;
}
.dropdown-menu {
  background-color: #8bc1d0;
  border-radius: 10px;
}
.dropdown-menu li a {
    color: #fff !important;
        background-color: #8bc1d0 !important;
    text-align: right;
        font-size: 1em;
}
.dropdown-menu li a:hover {
    color: #8bc1d0 !important;
    background-color: #fff !important;
}

footer {
    background-color: #2d2d30;
    color: #fff;
}

/* CAROUSEL */
.carousel-inner img {
    -webkit-filter: sepia(1);
    -moz-filter: sepia(1);
    filter: sepia(1);
    width: 65%;
    margin: auto;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #1c5e80;
}
.carousel-caption h3 {
    color: #fff !important;
    text-align: center;
}
.carousel-caption p {
    font-size: 20px;
    color: #fff !important;
    text-align: center;
}
/*.container-fluid{
  padding-left: 20%;
  padding-right: 20%;
}*/
/* //CAROUSEL */

@media screen and (max-width: 900px){
  nav {
    width: 100%;
  }
	ul{
		flex-flow: column;
		align-items:center;
	}
	li{
		font-size: 1em;
	}
  .dropdown-menu li a {
    color: #000 !important;
    background-color: #8bc1d0 !important;
    text-align: left;
    font-size: 1em !important;
  }
}

@media screen and (max-width: 600px){
  nav {
    width: 100%;
    height: 10%
  }
  .fixed-top {
    position: static;
    z-index: 2;
  }
	ul {
		flex-flow: column;
		align-items:center;
	}
	li {
		font-size: 1em;
	}
  .carousel-caption {
  display: none;
  }
  .carousel-inner img {
  width: 100%;
  }
  .padded-small {
  padding: 0 10% 10% 15%;
  }
}
